.container{
    $max-width: 1840px;
    $padding: 30px;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;
}

// COLORS

$white: hsla(0, 0%, 100%, 1);
$black:hsla(0, 0%, 15%, 1);
$btn-bg:hsla(244, 62%, 52%, 1);

// COLORS

// *{
//     outline: 1px solid tomato;
// }
// TITLE 

.main__titel{
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    // font-size: 200px;
    font-size: clamp(40px, 9vw - 1rem, 200px);
    line-height: 220px;
    text-transform: uppercase;
}

.titel__color-black{
    color: $black;
}

.titel__color-white{
    color: $white;
}

// TITLE

// BTN

.main__btn{
    padding: 19px 75px;
    min-width: 100px;
    border: none;
    cursor: pointer;
}

.main__btn-style{
    background-color: $btn-bg;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;    
    color: $white;
}


// BTN

